body {
    background: #2c2c2c;
    color: whitesmoke;
}

section {
    display: inline;
    padding: 25px;
    text-align: center;
}

h1 {
    padding: 10px;
}

p {
    margin: 20px;
    padding: 10px 20px;
    background-color: #3f3f3f;
    text-align: center;
}

select, input, option, button {
    color: black;
}

img {
    padding: 10px;
    margin: 0 auto;
}

button {
    display: inline-block;
}

.reroll {
    display: block;
    margin: 50px auto;
    padding: 10px;
}

.char {
    min-width: 250px;
    background-color: #3f3f3f;
    display: inline-block;
    margin: 20px;
    height: 400px;
    border-radius: 15px;
}

.color {
    width: 120px;
    min-height: 100px;
    display: inline-block;
    border: 1px solid white;
}

.up {
    display: block;
    width: 60;
}

.down {
    display: block;
}

.bottom, .down {
    height: 50px;
}

#def {
    margin: 0 auto;
    display: block;
}

#generate {
    display: block;
    margin: 0 auto;
}

.atrCont {
    display: inline-block;
}

