/* TODO: Make width 3 x 2 instead of 2 x 3 */
body {
    background: #2c2c2c;
    color: whitesmoke;
}

.generate, .def{
    margin: 0 auto;
    display: block;
}

p, h2 {
    text-align: center;
}

h2 {
    margin: 2% 0%;
}

#generate{
    display: block;
    margin: 0 auto;
}

.char {
    width: 30%;
    background-color: #3f3f3f;
    display: inline-block;
    margin: 20px;
    height: 390px;
    border-radius: 15px;
}

.atrCont {
    background-color:#6d6d6d;
    padding: 3%;
    margin: 0% 3%;
    height: 300px;
    border-radius: 15px;
}

.atr {
    margin: 1.5px;
}

.atrMod {
    margin: 0px;
    color: #a9a9a9;
}

.down {
    margin: 5%;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container > div {
    margin: 1%;
    text-align: center;
}

.space {
    padding: 8px 15px;
    background-color: #3f3f3f;
    border-radius: 5px;
}

.color {
    border: 1px solid white;
    border-radius: 5px;
}

.belowAtr {
    display: inline-flex;
    padding: 5% 2%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.charButtons {
    display: inline-block;
}

#saved {
    padding: 10px;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {transform: translateY(0)}
	40% {transform:translateY(-10px)}
	60% {transform:translateY(-3px)}
}

img {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

img:hover {
  cursor: pointer;
  animation-name: bounce;

}

#hp {
    background-image: linear-gradient(to bottom right, red, rgb(107, 5, 5));
}

#skl {
    background-image: linear-gradient(to bottom right, rgb(40, 128, 15), rgb(6, 140, 102));
}

#ac {
    background-image: linear-gradient(to bottom right, rgb(0, 42, 255), rgb(22, 0, 76));
}

#cls {
    background-image: linear-gradient(to bottom right, rgb(133, 123, 45), rgb(135, 88, 1));
}